<footer id="layout-footer">
    <div>
        <p>
            &#169; SOCIAL SITE APP
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                
            </ul>
        </nav>
    </div>
</footer>